<mat-card class="post-card" appearance="outlined">
    <mat-card-header class="post-card-header" [routerLink]="['/post', post.id]" routerLinkActive="router-link-active" >
        <mat-card-title>{{ post.title | truncate:45:true:' [...]' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="post-card-content">
        <p>{{ post.body | truncate:300:true:' [...]' }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button (click)="editPost(post.id)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deletePost(post.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>